<div class="row">
    <div class="col-md-12">
        <h1>Walter's Widget Warehouse</h1>
        <h2>The A-Z of the widget world</h2>
    </div>
</div>

</div>
    <div class="row">

        <div class="col-xs-3" ng-repeat="item in products">
            <div class="thumbnail">
                <img ng-src="{{ item.imageUrl }}"></h3>
                <h4>{{ item.name }}</h4>
                <p>{{ item.snippet }}</p>
                 <h3 class="price">{{ item.name.length/5-.01 | currency}}</h3>
                <ngcart-addtocart id="{{ item.id }}"
                           name="{{ item.name }}"
                           price="{{ item.name.length/5-.01  }}"
                           data="item"
                           quantity="1"
                           quantity-max="30">
                    Add To Cart
                </ngcart-addtocart></div>
        </div>
    </div>
